<div class='number-settings'>
  <AuFormRow>
    {{#let (unique-id) as |id|}}
      <AuLabel for={{id}}>
        {{t 'variable-plugin.number.minimum'}}
      </AuLabel>
      <AuInput
        id={{id}}
        @value={{@minimumValue}}
        placeholder={{t 'variable-plugin.number.minimum-placeholder'}}
        @width='block'
        @type='number'
      />
    {{/let}}
  </AuFormRow>
  <div class='to'><span>{{t 'variable-plugin.number.to'}}</span></div>
  <AuFormRow>
    {{#let (unique-id) as |id|}}
      <AuLabel for={{id}}>
        {{t 'variable-plugin.number.maximum'}}
      </AuLabel>
      <AuInput
        id={{id}}
        @value={{@maximumValue}}
        placeholder={{t 'variable-plugin.number.maximum-placeholder'}}
        @width='block'
        @type='number'
      />
    {{/let}}
  </AuFormRow>
</div>