<AuAlert
  @title={{t 'common.search.error-title'}}
  @skin='error'
  @icon='alert-triangle'
  @closable={{false}}
  @size={{if @fullSize 'default' 'small'}}
  class='au-u-margin'
  ...attributes
>
  <p>{{t 'common.search.error-intro'}}</p>
  <code class='au-u-error error-code'>{{@error}}</code>
  <p>
    {{t 'common.search.error-outro'}}
    <AuLinkExternal
      href='mailto:gelinktnotuleren@vlaanderen.be'
      @icon='mail'
      @iconAlignment='left'
    >
      {{! template-lint-disable no-bare-strings  }}
      gelinktnotuleren@vlaanderen.be
    </AuLinkExternal>.
  </p>
</AuAlert>