<tr class="au-c-data-table__detail">
  <td colspan="5" class="au-o-flow au-o-flow--small">
    <AuHeading @level="6" @skin="6">
      {{t "editor-plugins.roadsign-regulation.expanded-measure.insert-measure"}}
    </AuHeading>
    <p>
      <AuPill>
        <RoadsignRegulationPlugin::MeasureTemplate @measure={{@measure.uri}} @template={{@measure.template}} />
      </AuPill>
    </p>
    {{#if this.isPotentiallyZonal}}
      <AuHeading @level="6" @skin="6">
        {{t "editor-plugins.roadsign-regulation.expanded-measure.select-zonality.label"}}
      </AuHeading>
      <div class="au-c-form">
        <ul>
          <li>
            <AuControlRadio 
              @label={{t "editor-plugins.roadsign-regulation.expanded-measure.select-zonality.zonal"}} 
              @name="zonal" 
              @value={{this.ZONAL_URI}} 
              @identifier="zonal" 
              {{on 'change' this.changeZonality}}/>
          </li>
          <li>
            <AuControlRadio 
              @label={{t "editor-plugins.roadsign-regulation.expanded-measure.select-zonality.non-zonal"}} 
              @name="zonal" 
              @value={{this.NON_ZONAL_URI}} 
              @identifier="non-zonal" 
              {{on 'change' this.changeZonality}} />
          </li>
        </ul>
      </div>
    {{/if}}
    {{#if @measure.temporal}}
      <AuHeading @level="6" @skin="6">
        {{t "editor-plugins.roadsign-regulation.expanded-measure.varying-signalisation.label"}}
      </AuHeading>
      <div class="au-c-form">
        <ul>
          <li>
            <AuControlRadio 
              @label={{t "editor-plugins.roadsign-regulation.expanded-measure.varying-signalisation.varying"}} 
              @name="temporal" 
              @value={{true}} 
              @identifier="true" 
              {{on 'change' this.changeTemporality}} />
          </li>
          <li>
            <AuControlRadio 
              @label={{t "editor-plugins.roadsign-regulation.expanded-measure.varying-signalisation.non-varying"}} 
              @name="temporal" 
              @value={{false}} 
              @identifier="false" 
              {{on 'change' this.changeTemporality}} />
          </li>
        </ul>
      </div>
    {{/if}}
    <AuButtonGroup>
      <AuButton {{on 'click' this.insert}} @disabled={{this.insertButtonDisabled}}>
        {{t "editor-plugins.utils.insert"}}
      </AuButton>
      <AuButton @skin="secondary" {{on "click" this.unselectRow }}>
        {{t "editor-plugins.utils.cancel"}}
      </AuButton>
    </AuButtonGroup>
  </td>
</tr>
