{{! @glint-nocheck: not typesafe yet }}
<tr class='au-c-data-table__detail'>
  <td colspan='5' class='au-o-flow au-o-flow--small'>
    <AuHeading @level='6' @skin='6'>
      {{t 'editor-plugins.roadsign-regulation.expanded-measure.insert-measure'}}
    </AuHeading>
    <p>
      <AuPill>
        <RoadsignRegulationPlugin::MeasureTemplate
          @measure={{@measure.uri}}
          @template={{@measure.template}}
          @endpoint={{@endpoint}}
        />
      </AuPill>
    </p>
    {{#if this.isPotentiallyZonal}}
      <AuHeading @level='6' @skin='6'>
        {{t
          'editor-plugins.roadsign-regulation.expanded-measure.select-zonality.label'
        }}
      </AuHeading>
      <div class='au-c-form'>
        <AuRadioGroup
          @name='zonal'
          @selected={{this.zonalityValue}}
          @onChange={{this.changeZonality}}
          as |Group|
        >
          <Group.Radio @value={{this.ZONAL_URI}}>
            {{t
              'editor-plugins.roadsign-regulation.expanded-measure.select-zonality.zonal'
            }}
          </Group.Radio>
          <Group.Radio @value={{this.NON_ZONAL_URI}}>
            {{t
              'editor-plugins.roadsign-regulation.expanded-measure.select-zonality.non-zonal'
            }}
          </Group.Radio>
        </AuRadioGroup>
      </div>
    {{/if}}
    {{#if @measure.temporal}}
      <AuHeading @level='6' @skin='6'>
        {{t
          'editor-plugins.roadsign-regulation.expanded-measure.varying-signalisation.label'
        }}
      </AuHeading>
      <div class='au-c-form'>
        <AuRadioGroup
          @name='temporal'
          @selected={{this.temporalValue}}
          @onChange={{this.changeTemporality}}
          as |Group|
        >
          <Group.Radio @value='true'>
            {{t
              'editor-plugins.roadsign-regulation.expanded-measure.varying-signalisation.varying'
            }}
          </Group.Radio>
          <Group.Radio @value='false'>
            {{t
              'editor-plugins.roadsign-regulation.expanded-measure.varying-signalisation.non-varying'
            }}
          </Group.Radio>
        </AuRadioGroup>
      </div>
    {{/if}}
    <AuButtonGroup>
      <AuButton
        {{on 'click' this.insert}}
        @disabled={{this.insertButtonDisabled}}
      >
        {{t 'editor-plugins.utils.insert'}}
      </AuButton>
      <AuButton @skin='secondary' {{on 'click' this.unselectRow}}>
        {{t 'editor-plugins.utils.cancel'}}
      </AuButton>
    </AuButtonGroup>
  </td>
</tr>