<AuToolbar @border="top" @size="large" @nowrap={{true}} 
  {{did-update this.onUpdateCount @count @pageStart}}
  {{did-insert this.onUpdateCount @count @pageStart}}
>
  <div class="au-c-pagination">
    {{#if this.hasPreviousPage}}
      <div class="au-c-pagination__list-item">
        <AuButton @skin="link" {{on 'click' this.goToPreviousPage}} @iconAlignment="left" @icon="nav-left">{{t "pagination.previous"}}</AuButton>
      </div>
    {{/if}}
    <p>
      <span class="au-u-hidden-visually">{{t "editor-plugins.roadsign-regulation.pagination.publications"}}</span>
      <strong>
        {{this.pageStart}} - {{this.pageEnd}}
      </strong>
      {{t "pagination.of"}}
      {{this.count}}
    </p>
    {{#if this.hasNextPage}}
      <div class="au-c-pagination__list-item">
        <AuButton @skin="link" {{on 'click' this.goToNextPage}}  @icon="nav-right" @iconAlignment="right">{{t "pagination.next"}}</AuButton>
      </div>
    {{/if}}
  </div>
</AuToolbar>
