<AuModal
  class="snippet-modal"
  @modalOpen={{@open}}
  @closeModal={{this.closeModal}}
  @title={{t 'snippet-plugin.modal.title'}}
  @size='large'
  @padding='none'
  as |modal|
>
  <modal.Body>
    <AuMainContainer class='snippet-modal--main-container' as |mc|>
      <mc.sidebar>
        <div class='au-c-sidebar'>
          <div class='au-c-sidebar__content au-u-padding'>
            <AuHeading @level='3' @skin='4' class='au-u-padding-bottom-small'>
              {{t 'snippet-plugin.modal.search.title'}}
            </AuHeading>
            <AuLabel
              class='au-margin-bottom-small'
              for='searchTerm'
              @inline={{false}}
              @required={{false}}
              @error={{false}}
              @warning={{false}}
            >
              {{t 'snippet-plugin.modal.search.label'}}
            </AuLabel>
            <AuNativeInput
              @type='text'
              @width='block'
              id='searchTerm'
              value={{this.searchText}}
              placeholder={{t 'snippet-plugin.modal.search.placeholder'}}
              {{on 'input' this.setInputSearchText}}
            />
          </div>
        </div>
      </mc.sidebar>
      <mc.content @scroll={{true}}>
        <div class='au-u-padding-top snippet-modal--list-container'>
          {{#if this.snippetsResource.isRunning}}
            <div class='au-u-margin'>
              <Common::Search::Loading />
            </div>
          {{else}}
            {{#if this.error}}
              <Common::Search::AlertLoadError @error={{this.error}} />
            {{else}}
              {{#if this.snippetsResource.value.length}}
                <SnippetPlugin::Snippets::SnippetList
                  @snippets={{this.snippetsResource.value}}
                  @onInsert={{@onInsert}}
                />
              {{else}}
                <Common::Search::AlertNoItems />
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        {{#if this.snippetsResource.value.length}}
          {{#let
            (pagination
              page=this.pageNumber pageSize=this.pageSize count=this.totalCount
            )
            as |pg|
          }}
            <Pagination::PaginationView
              @totalCount={{pg.count}}
              @rangeStart={{pg.pageStart}}
              @rangeEnd={{pg.pageEnd}}
              @onNextPage={{this.nextPage}}
              @onPreviousPage={{this.previousPage}}
              @isFirstPage={{not pg.hasPreviousPage}}
              @isLastPage={{not pg.hasNextPage}}
            />
          {{/let}}
        {{/if}}
      </mc.content>
    </AuMainContainer>
  </modal.Body>
</AuModal>