{{! @glint-nocheck: not typesafe yet }}
<li class='au-c-list__item'>
  <AuButton
    @icon={{this.AddIcon}}
    @iconAlignment='left'
    @skin='link'
    @disabled={{this.disabled}}
    {{on 'click' this.openModal}}
  >
    {{t 'snippet-plugin.insert.title'}}
  </AuButton>
</li>

<SnippetPlugin::SearchModal
  @open={{this.showModal}}
  @closeModal={{this.closeModal}}
  @config={{this.config}}
  @onInsert={{this.onInsert}}
  @assignedSnippetListsIds={{@assignedSnippetListsIds}}
/>