<div
  class='au-u-flex au-u-flex--row au-u-flex--no-wrap au-u-flex--vertical-start hover-outer'
>
  <div class='add-button show-on-hover'>
    <AuButton @icon='plus' @skin='naked' {{on 'click' this.addParagraph}} />
  </div>
  <div class='au-u-1-12 au-u-bold prefix-text'>
    par.
  </div>

  <div class='au-u-11-12'>
    {{yield}}
  </div>

  <div class='remove-button show-on-hover'>
    <AuButton
      @icon='bin'
      @skin='naked'
      @alert='true'
      {{on 'click' this.removeParagraph}}
    />
  </div>
</div>
<StructuredBlocksPlugin::EmberNodes::SubRow @indentLeft={{true}}>
  <AuButton
    @icon='plus-text'
    @skin='secondary'
    class='full-length'
    {{on 'click' this.addParagraph}}
  >
    Paragraaf toevoegen
  </AuButton>
</StructuredBlocksPlugin::EmberNodes::SubRow>