<div class='remove-button show-on-hover'>
  {{#if (eq @onHover undefined)}}
    <AuButton
      @icon='bin'
      @skin='secondary'
      @alert='true'
      {{on 'click' @onClick}}
    />
  {{else}}
    <div
      {{on 'mouseenter' (fn @onHover true)}}
      {{on 'mouseleave' (fn @onHover false)}}
    >
      <AuButton
        @icon='bin'
        @skin='secondary'
        @alert='true'
        {{on 'click' @onClick}}
      />
    </div>
  {{/if}}
</div>