<div class='au-u-flex au-u-flex--no-wrap hover-outer'>
  <div class='add-button show-on-hover'>
    <AuButton @icon='plus' @skin='naked' class='--au-gray-500' {{on 'click' this.addSameBelow}}/>
  </div>
  <div
    class='au-u-padding-right-small au-u-padding-top-small au-u-bold au-u-text-right prefix-text'
  >
    {{yield to='prefix'}}
  </div>
  <div class='au-u-flex fill-flex'>
    <AuInput
      @value={{this.localText}}
      class='full-length'
      {{on 'input' this.setText}}
    />
  </div>
  <div class='remove-button show-on-hover'>
    <AuButton
      @icon='bin'
      @skin='secondary'
      @alert='true'
      {{on 'click' this.removeThis}}
    />
  </div>
</div>
<div class='au-u-flex au-u-flex--no-wrap'>
  <div class='prefix-text'></div>
  <div class='fill-flex'>
    {{#if (not-eq this.config.type 'article')}}
      <div>
        <AuButton
          @icon='plus-text'
          @skin='secondary'
          {{on 'click' this.addArticle}}
        >
          Artikel invoegen
        </AuButton>
      </div>
    {{/if}}
    <div>
      <AuButton
        @icon='plus-text'
        @skin='secondary'
        {{on 'click' this.addParagraph}}
      >
        Paragraaf invoegen
      </AuButton>
    </div>
    {{yield to='contentDOM'}}
    {{#if (and this.hasChild (not this.hasChildNode))}}
      <div>
        <AuButton @icon='plus' @skin='secondary' {{on 'click' this.addChild}}>
          {{this.childConfig.name}} invoegen
        </AuButton>
      </div>
    {{/if}}
  </div>
</div>
<AuButton @icon='plus' @skin='secondary' {{on 'click' this.addSameBelow}}>
  {{this.config.name}} toevoegen
</AuButton>