<div class='au-u-flex au-u-flex--wrap'>
  <div class='au-u-padding-right-small au-u-padding-top-small au-u-1-12 au-u-bold au-u-text-right'>
    {{yield to='prefix'}}
  </div>
  <div class='au-u-11-12'>
    <div class=''>
      <AuInput
        @value={{this.localText}}
        class='full-length'
        {{on 'input' this.setText}}
      />
    </div>
    <div class='au-u-flex--row au-u-flex--no-wrap'>
      {{#if this.hasChild}}
        <div>
          {{!-- todo: This button would fit better between the paragraphs and other content, but would mean a custom parsing of contentDOM--}}
          <AuButton @icon='plus' @skin='secondary' {{on 'click' this.addChild}}>
            {{this.childConfig.name}} invoegen
          </AuButton>
        </div>
      {{/if}}
      {{#if (not-eq this.config.type 'article')}}
        <div>
          <AuButton
            @icon='plus-text'
            @skin='secondary'
            {{on 'click' this.addArticle}}
          >
            Artikel invoegen
          </AuButton>
        </div>
      {{/if}}
      <div>
        <AuButton
          @icon='plus-text'
          @skin='secondary'
          {{on 'click' this.addParagraph}}
        >
          Paragraaf invoegen
        </AuButton>
      </div>
      <div>
        {{yield to='contentDOM'}}
      </div>
    </div>
  </div>
  <div class=''>
    <AuButton @icon='plus' @skin='secondary' {{on 'click' this.addSameBelow}}>
      {{this.config.name}} toevoegen
    </AuButton>
  </div>
</div>