<div class={{if this.showRemoveBorder 'remove-border' ''}}>
  <div class='au-u-flex au-u-flex--no-wrap hover-outer'>
    <div class='add-button show-on-hover'>
      <AuButton
        @icon='plus'
        @skin='naked'
        class='--au-gray-500'
        {{on 'click' this.addSameBelow}}
      />
    </div>
    <div
      class='au-u-padding-right-small au-u-padding-top-small au-u-bold au-u-text-right prefix-text'
    >
      {{yield to='prefix'}}
    </div>
    <div class='au-u-flex fill-flex'>
      <AuInput
        @value={{this.text}}
        class='full-length'
      />
    </div>
    <StructuredBlocksPlugin::EmberNodes::RemoveStructureButton
      @onClick={{this.removeThis}}
      @onHover={{this.hoverRemoveButton}}
    />
  </div>
  {{#if (not-eq this.config.type 'article')}}
    <StructuredBlocksPlugin::EmberNodes::SubRow>
      <div>
        <AuButton
          @icon='plus-text'
          @skin='secondary'
          {{on 'click' this.addArticle}}
        >
          Artikel invoegen
        </AuButton>
      </div>
    </StructuredBlocksPlugin::EmberNodes::SubRow>
  {{/if}}
  <StructuredBlocksPlugin::EmberNodes::SubRow>
    <AuButton
      @icon='plus-text'
      @skin='secondary'
      {{on 'click' this.addParagraph}}
    >
      Paragraaf invoegen
    </AuButton>
  </StructuredBlocksPlugin::EmberNodes::SubRow>
  <StructuredBlocksPlugin::EmberNodes::SubRow @indentLeft={{true}}>
    {{yield to='contentDOM'}}
  </StructuredBlocksPlugin::EmberNodes::SubRow>
  {{#if (and this.hasChild (not this.hasChildNode))}}
    <StructuredBlocksPlugin::EmberNodes::SubRow>
      <div>
        <AuButton @icon='plus' @skin='secondary' {{on 'click' this.addChild}}>
          {{this.childConfig.name}} invoegen
        </AuButton>
      </div>
    </StructuredBlocksPlugin::EmberNodes::SubRow>
  {{/if}}
  <div>
    <StructuredBlocksPlugin::EmberNodes::SubRow @indentLeft={{true}}>
      <AuButton
        @icon='plus'
        @skin='secondary'
        @class='after-add-button-padding'
        {{on 'click' this.addSameBelow}}
      >
        {{this.config.name}} toevoegen
      </AuButton>
    </StructuredBlocksPlugin::EmberNodes::SubRow>
  </div>
</div>