<AuAlert
  @alertTitle="{{t "alert.error-title"}}"
  @alertSkin="error"
  @alertIcon="alert-triangle"
  @alertSize="{{if @fullSize "default" "small"}}"
  @closable={{false}}
  ...attributes>
  <p>{{t "alert.error-intro"}}</p>
  <code class="au-u-error citaten--error-code">{{@error}}</code>
  <p>
    {{t "alert.error-outro"}}
    <AuLinkExternal
      href="mailto:Gelinkt-Notuleren@vlaanderen.be"
      @icon="mail"
      @iconAlignment="left">
      {{!-- template-lint-disable no-bare-strings  --}}
      Gelinkt-Notuleren@vlaanderen.be
    </AuLinkExternal>.
  </p>
</AuAlert>

