{{! @glint-nocheck: not typesafe yet }}
<this.Velcro
  @placement='bottom-start'
  @offsetOptions={{hash mainAxis=3}}
  as |velcro|
>
  <AuPill
    @icon={{this.PencilIcon}}
    @iconAlignment='right'
    class='variable atomic'
    {{velcro.hook}}
    {{select-node-on-click @controller @getPos}}
  >
    {{#if this.formattedNumber}}
      {{this.formattedNumber}}
    {{else}}
      <span class='mark-highlight-manual'>
        {{this.translations.placeholder}}
      </span>
    {{/if}}
    {{#if this.label}}
      <span class='label'>
        ({{this.label}})
      </span>
    {{/if}}
  </AuPill>
  {{#if this.selected}}
    <div class='say-tooltip say-number-tooltip' {{velcro.loop}}>
      {{! AuCard gives weird behaviour when using velcro without div (cause is position:fixed in css)}}
      <AuCard
        @shadow={{true}}
        @size='small'
        id='number-input-tooltip'
        @standOut={{true}}
        as |card|
      >
        <card.content>
          <AuNativeInput
            value={{this.inputNumber}}
            placeholder={{t 'variable.number.type-number'}}
            {{did-insert this.focus}}
            {{on 'input' this.onInputNumberChange}}
            {{leave-with-arrow-keys @controller @getPos}}
            {{leave-on-enter-key @controller @getPos}}
          />
          <AuToggleSwitch
            @identifier='writtenNumber'
            @name='writtenNumber'
            @checked={{this.writtenNumber}}
            @onChange={{this.changeWrittenNumber}}
          >
            {{t 'variable.number.written-number-label'}}
          </AuToggleSwitch>
          {{#if this.errorMessage}}
            <AuHelpText @small={{true}} @error={{true}}>
              {{this.errorMessage}}
            </AuHelpText>
          {{/if}}
        </card.content>
      </AuCard>
    </div>
  {{/if}}
</this.Velcro>