{{! @glint-nocheck: not typesafe yet }}
<li class="au-c-list__item">
  <AuButton
    @icon={{this.AddIcon}}
    @iconAlignment='left'
    @skin='link'
    @disabled={{this.disableInsert}}
    {{on 'click' this.openModal}}
  >
    {{t 'citaten-plugin.insert.title'}}
  </AuButton>
</li>

<CitationPlugin::Citations::SearchModal
  @open={{this.showModal}}
  @closeModal={{this.closeModal}}
  @insertLegalDocumentCitation={{this.insertLegalDocumentCitation}}
  @insertArticleCitation={{this.insertArticleCitation}}
  @legislationTypeUri={{this.selectedLegislationTypeUri}}
  @selectLegislationType={{this.selectLegislationType}}
  @text={{this.text}}
  @config={{this.config}}
/>