<AuTable>
  <:header>
    <tr class='au-c-data-table__header-title'>
      <th>
        <Common::Sort::SortableTableHeader
          @field='label'
          @label={{t 'worship-plugin.modal.fields.name.label'}}
          @sort={{@sort}}
          @setSort={{@setSort}}
        />
      </th>
      <th />
    </tr>
  </:header>
  <:body>
    {{#unless (or @services.isRunning @error)}}
      {{#if @services.value.totalCount}}
        {{#each @services.value.results as |row|}}
          <tr>
            <td>{{row.label}}</td>
            <td class='au-u-text-center'>
              <AuButton {{on 'click' (fn @insert row)}}>
                {{t 'worship-plugin.modal.insert'}}
              </AuButton>
            </td>
          </tr>
        {{/each}}
      {{/if}}
    {{/unless}}
  </:body>
</AuTable>
{{#if @services.isRunning}}
  <div class='au-u-margin'>
    <Common::Search::Loading />
  </div>
{{else}}
  {{#if @error}}
    <Common::Search::AlertLoadError @error={{@error}} />
  {{else}}
    {{#unless @services.value.totalCount}}
      <Common::Search::AlertNoItems />
    {{/unless}}
  {{/if}}
{{/if}}