<div class="au-c-dropdown" ...attributes>
  <AuPill
    @skin={{this.skin}}
    @size={{@size}}
    @actionIcon={{this.icon}}
    @iconAlignment={{this.iconAlignment}}
    @hideText={{@hideText}}
    aria-haspopup="true"
    aria-expanded="{{if this.dropdownOpen 'true' 'false'}}"
    @onClickAction={{this.toggleDropdown}}
    data-test-dropdown-button
    data-au-dropdown-toggle
  >
    <span class="au-c-dropdown__name" data-test-dropdown-title>
      {{@title}}
    </span>
  </AuPill>
  <div
    class="au-c-dropdown__menu {{this.alignment}} {{if this.dropdownOpen 'is-visible'}}"
    role="menu"
    tabindex="-1"
    {{focus-trap
      isActive=this.dropdownOpen
      shouldSelfFocus=true
      focusTrapOptions=(hash
        clickOutsideDeactivates=this.clickOutsideDeactivates
      )
    }}
  >
    {{yield}}
  </div>
</div>