<AuModal
  @modalOpen={{@open}}
  @closeModal={{fn this.closeModal this.legislationTypeUri this.text}}
  @title={{t 'citaten-plugin.card.title'}}
  @size='large'
  @padding='none'
  as |modal|
>
  {{#if this.selectedLegalDocument}}
    <modal.Body>
      <CitationPlugin::Citations::LegalDocumentDetail
        @insertLegalDocumentCitation={{this.insertLegalDocumentCitation}}
        @insertArticleCitation={{this.insertArticleCitation}}
        @close={{this.closeLegalDocumentDetail}}
        @legalDocument={{this.selectedLegalDocument}}
        @config={{this.config}}
      />
    </modal.Body>
  {{else}}
    <modal.Body>
      <AuMainContainer class='citaten--main-container' as |mc|>
        <mc.sidebar class='citaten--sidebar' @scroll={{true}}>
          <div class='au-c-sidebar'>
            <div class='au-c-sidebar__content au-u-padding'>
              <AuLabel
                class='au-margin-bottom-small'
                for='typeofdocumentexpanded'
                @inline={{false}}
                @required={{false}}
                @error={{false}}
                @warning={{false}}
              >{{t 'citaten-plugin.search.type'}}</AuLabel>
              <PowerSelect
                id='typeofdocumentexpanded'
                @renderInPlace={{true}}
                @allowClear={{false}}
                @disabled={{false}}
                @searchEnabled={{true}}
                @loadingMessage={{t 'citaten-plugin.alert.loading'}}
                @noMatchesMessage={{t 'citaten-plugin.alert.no-results'}}
                @searchMessage={{t 'citaten-plugin.search.placeholder'}}
                @options={{this.legislationTypes}}
                @selected={{this.legislationSelected}}
                @onChange={{@selectLegislationType}}
                as |type|
              >
                {{type}}
              </PowerSelect>
              <AuLabel
                class='au-u-margin-top au-margin-bottom-small'
                for='searchtermexpanded'
                @inline={{false}}
                @required={{false}}
                @error={{false}}
                @warning={{false}}
              >{{t 'citaten-plugin.search.term'}}</AuLabel>
              <AuNativeInput
                @icon='search'
                @type='text'
                @width='block'
                @iconAlignment='right'
                id='searchtermexpanded'
                value={{this.searchText}}
                placeholder={{t 'citaten-plugin.search.placeholder'}}
                {{on 'input' this.setInputSearchText}}
              />

              <AuHr @size='large' />
              {{#if this.isBesluitType}}
                <AuLabel
                  class='au-u-margin-top au-margin-bottom-small'
                  for='search-government'
                  @inline={{false}}
                  @required={{false}}
                  @error={{false}}
                  @warning={{false}}
                >
                  {{t 'citaten-plugin.search.government-search'}}
                </AuLabel>
                <AuNativeInput
                  @icon='search'
                  @type='text'
                  @width='block'
                  @iconAlignment='right'
                  id='search-government'
                  value={{this.governmentSearchText}}
                  placeholder={{t 'citaten-plugin.search.placeholder'}}
                  {{on 'input' this.setGovernmentSearchText}}
                />
              {{/if}}
              {{! Date of document }}
              <AuLabel
                class='au-u-margin-top au-u-margin-bottom-small'
                for='search-codex-datum-document-van'
                @inline={{false}}
              >{{t 'citaten-plugin.search.date-document'}}</AuLabel>
              {{! From }}
              <AuFormRow @alignment='pre' class='au-u-margin-bottom-tiny'>
                <AuLabel
                  for='search-codex-datum-document-van'
                  class='au-u-hidden-visually'
                >{{t 'citaten-plugin.search.date-document-from'}}</AuLabel>
                <AuLabel
                  for='search-codex-datum-document-van'
                  aria-hidden='true'
                  class='au-u-1-4'
                  @inline={{true}}
                >{{t 'citaten-plugin.search.from'}}</AuLabel>
                <AuDatePicker
                  @id='search-codex-datum-document-van'
                  @alignment='top'
                  @onChange={{this.updateDocumentDateFrom}}
                  @value={{this.documentDateFrom}}
                  @min={{this.minDate}}
                  @max={{this.maxDate}}
                  @localization={{this.datePickerLocalization}}
                />
              </AuFormRow>
              {{! To }}
              <AuFormRow @alignment='pre'>
                <AuLabel
                  for='search-codex-datum-document-tot'
                  class='au-u-hidden-visually'
                >{{t 'citaten-plugin.search.date-document-to'}}</AuLabel>
                <AuLabel
                  for='search-codex-datum-document-tot'
                  aria-hidden='true'
                  class='au-u-1-4'
                  @inline={{true}}
                >{{t 'citaten-plugin.search.to'}}</AuLabel>
                <AuDatePicker
                  @id='search-codex-datum-document-tot'
                  @alignment='top'
                  @onChange={{this.updateDocumentDateTo}}
                  @value={{this.documentDateTo}}
                  @min={{this.minDate}}
                  @max={{this.maxDate}}
                  @localization={{this.datePickerLocalization}}
                />
              </AuFormRow>

              {{! Date of staatsblad }}
              {{#unless this.isBesluitType}}
                <AuLabel
                  class='au-u-margin-top au-u-margin-bottom-small'
                  for='search-codex-datum-staatsblad-van'
                  @inline={{false}}
                >{{t 'citaten-plugin.search.date-publication'}}</AuLabel>
                {{! From }}
                <AuFormRow @alignment='pre' class='au-u-margin-bottom-tiny'>
                  <AuLabel
                    for='search-codex-datum-staatsblad-van'
                    class='au-u-hidden-visually'
                  >{{t 'citaten-plugin.search.date-publication-from'}}</AuLabel>
                  <AuLabel
                    for='search-codex-datum-staatsblad-van'
                    aria-hidden='true'
                    class='au-u-1-4'
                    @inline={{true}}
                  >{{t 'citaten-plugin.search.from'}}</AuLabel>
                  <AuDatePicker
                    @id='search-codex-datum-staatsblad-van'
                    @alignment='top'
                    @onChange={{this.updatePublicationDateFrom}}
                    @value={{this.publicationDateFrom}}
                    @min={{this.minDate}}
                    @max={{this.maxDate}}
                    @localization={{this.datePickerLocalization}}
                  />
                </AuFormRow>
                {{! To }}
                <AuFormRow @alignment='pre'>
                  <AuLabel
                    for='search-codex-datum-staatsblad-tot'
                    class='au-u-hidden-visually'
                  >{{t 'citaten-plugin.search.date-publication-to'}}</AuLabel>
                  <AuLabel
                    for='search-codex-datum-staatsblad-tot'
                    aria-hidden='true'
                    class='au-u-1-4'
                    @inline={{true}}
                  >{{t 'citaten-plugin.search.to'}}</AuLabel>
                  <AuDatePicker
                    @id='search-codex-datum-staatsblad-tot'
                    @alignment='top'
                    @onChange={{this.updatePublicationDateTo}}
                    @value={{this.publicationDateTo}}
                    @min={{this.minDate}}
                    @max={{this.maxDate}}
                    @localization={{this.datePickerLocalization}}
                  />
                </AuFormRow>
              {{/unless}}
            </div>
          </div>
        </mc.sidebar>
        <mc.content>
          {{#if this.legalDocumentResource.isRunning}}
            <div class='au-u-margin'>
              <AuLoader @padding='large' />
              <span class='au-u-hidden-visually'>{{t
                  'citaten-plugin.alert.loading'
                }}</span>
            </div>
          {{else}}
            {{#if this.error}}
              <CitationPlugin::Helpers::AlertLoadError
                @fullSize={{true}}
                @error={{this.error}}
                class='au-u-margin'
              />
            {{else}}
              {{#if this.legalDocumentResource.value.length}}
                <div
                  class='citaten--container-content au-u-padding-top-small au-u-padding-bottom-small'
                >
                  <CitationPlugin::Citations::LegalDocumentList
                    @legalDocuments={{this.legalDocumentResource.value}}
                    @onCitationInsert={{this.insertLegalDocumentCitation}}
                    @onCitationDetails={{this.openLegalDocumentDetail}}
                    @fullSize={{true}}
                  />
                </div>
              {{else}}
                <CitationPlugin::Helpers::AlertNoItems
                  @fullSize={{true}}
                  class='au-u-margin'
                />
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if this.legalDocumentResource.value.length}}
            {{#let
              (pagination
                page=this.pageNumber
                pageSize=this.pageSize
                count=this.totalCount
              )
              as |pg|
            }}
              <Pagination::PaginationView
                @totalCount={{pg.count}}
                @rangeStart={{pg.pageStart}}
                @rangeEnd={{pg.pageEnd}}
                @onNextPage={{this.nextPage}}
                @onPreviousPage={{this.previousPage}}
                @isFirstPage={{not pg.hasPreviousPage}}
                @isLastPage={{not pg.hasNextPage}}
              />
            {{/let}}
          {{/if}}
        </mc.content>
      </AuMainContainer>
    </modal.Body>
  {{/if}}
</AuModal>