<AuPill @icon={{this.PencilIcon}} @iconAlignment="right" class="variable" {{on 'click' this.onClick}}>
  <EmberNode::EmbeddedEditor
    @controller={{@controller}}
    @node={{@node}}
    @view={{@view}}
    @getPos={{@getPos}}
    @selected={{@selected}}
    @initEditor={{this.initEditor}}
    @nodeViews={{@nodeViews}}
  />
  {{#if @node.attrs.label}}
    <span class="label">
      ({{@node.attrs.label}})
    </span>
  {{/if}}
</AuPill>