<AuModal
  @modalOpen={{@open}}
  @closeModal={{fn this.closeModal this.legislationTypeUri this.text}}
  @title={{t 'fragment-plugin.modal.title'}}
  @size='large'
  @padding='none'
  as |modal|
>
  <modal.Body>
    <AuMainContainer class='fragment-modal--main-container' as |mc|>
      <mc.sidebar>
        <div class='au-c-sidebar'>
          <div class='au-c-sidebar__content au-u-padding'>
            <AuHeading @level='3' @skin='4' class='au-u-padding-bottom-small'>
              {{t 'fragment-plugin.modal.search.title'}}
            </AuHeading>
            <AuLabel
              class='au-margin-bottom-small'
              for='searchTerm'
              @inline={{false}}
              @required={{false}}
              @error={{false}}
              @warning={{false}}
            >
              {{t 'fragment-plugin.modal.search.label'}}
            </AuLabel>
            <AuNativeInput
              @type='text'
              @width='block'
              id='searchTerm'
              value={{this.searchText}}
              placeholder={{t 'fragment-plugin.modal.search.placeholder'}}
              {{on 'input' this.setInputSearchText}}
            />
          </div>
        </div>
      </mc.sidebar>
      <mc.content @scroll={{true}}>
        <div class='au-u-padding-top'>
          {{#if this.fragmentsResource.isRunning}}
            <div class='au-u-margin'>
              <AuLoader @padding='large' />
              <span class='au-u-hidden-visually'>
                {{t 'fragment-plugin.alert.loading'}}
              </span>
            </div>
          {{else}}
            {{#if this.error}}
              <FragmentPlugin::Helpers::AlertLoadError @error={{this.error}} />
            {{else}}
              {{#if this.fragmentsResource.value.length}}
                {{#each this.fragmentsResource.value as |fragment|}}
                  <AuList::Item
                    class='au-u-padding-left-small au-u-padding-right-small'
                  >
                    {{fragment.title.value}}
                  </AuList::Item>
                {{/each}}
              {{else}}
                <FragmentPlugin::Helpers::AlertNoItems />
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </mc.content>
    </AuMainContainer>
  </modal.Body>
</AuModal>