<AuTable>
  <:header>
    <tr class='au-c-data-table__header-title'>
      <th>
        <WorshipPlugin::SortableTableHeader
          @field='fullName'
          @label={{t 'lmb-plugin.modal.fields.name'}}
          @sort={{@sort}}
          @setSort={{@setSort}}
        />
      </th>
      <th />
    </tr>
  </:header>
  <:body>
    {{#unless (or @services.isRunning @error)}}
      {{#if @services.value.totalCount}}
        {{#each @services.value.results as |row|}}
          <tr>
            <td>{{row.firstName}} {{row.lastName}}</td>
            <td class='au-u-text-center'>
              <AuButton
                {{on 'click' (fn @insert row)}}
              >
                {{t 'lmb-plugin.modal.insert'}}
              </AuButton>
            </td>
          </tr>
        {{/each}}
      {{/if}}
    {{/unless}}
  </:body>
</AuTable>