<AuTable>
  <:header>
    <tr class='au-c-data-table__header-title'>
      <th>
        <Common::Sort::SortableTableHeader
          @field='fullName'
          @label={{t 'lmb-plugin.modal.fields.name'}}
          @sort={{@sort}}
          @setSort={{@setSort}}
        />
      </th>
      <th>
        <Common::Sort::SortableTableHeader
          @field='kandidatenlijst'
          @label={{t 'lmb-plugin.modal.fields.kandidatenlijst'}}
          @sort={{@sort}}
          @setSort={{@setSort}}
        />
      </th>
      <th />
    </tr>
  </:header>
  <:body>
    {{#if @services.isRunning}}
      <tr>
        <td colspan='100%'>
          <AuLoader @centered={{true}}>
            {{t 'common.search.loading'}}
          </AuLoader>
        </td>
      </tr>
    {{else}}
      {{#if @services.value.totalCount}}
        {{#each @services.value.results as |row|}}
          <tr>
            <td>{{row.fullName}}</td>
            <td>
              {{#if row.kandidatenlijst}}
                {{row.kandidatenlijst}}
              {{else}}
                <span class='au-u-italic'>{{t 'common.not-applicable'}}</span>
              {{/if}}
            </td>
            <td class='au-u-text-center'>
              <AuButton {{on 'click' (fn @insert row)}}>
                {{t 'lmb-plugin.modal.insert'}}
              </AuButton>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan='100%'>
            {{t 'common.search.no-results'}}
          </td>
        </tr>
      {{/if}}
    {{/if}}
  </:body>
</AuTable>