<AuAlert
  @title='{{t "snippet-plugin.modal.alert.error-title"}}'
  @skin='error'
  @icon='alert-triangle'
  @closable={{false}}
  class='au-u-margin au-u-margin-top-none'
  ...attributes
>
  <p>{{t 'snippet-plugin.modal.alert.error-intro'}}</p>
  <code class='au-u-error snippet-modal--error-code'>{{@error}}</code>
  <p>
    {{t 'snippet-plugin.modal.alert.error-outro'}}
    <AuLinkExternal
      href='mailto:Gelinkt-Notuleren@vlaanderen.be'
      @icon='mail'
      @iconAlignment='left'
    >
      {{! template-lint-disable no-bare-strings  }}
      Gelinkt-Notuleren@vlaanderen.be
    </AuLinkExternal>.
  </p>
</AuAlert>