<span typeof={{@node.attrs.typeof}} resource={{@node.attrs.resource}} property={{@node.attrs.property}} class="custom-rdfa-container">
  <NestedEditor @controller={{@controller}} @node={{@node}} @view={{@view}} @getPos={{@getPos}} @skin="warning"/>
</span>