{{! @glint-nocheck: not typesafe yet }}
<AuModal
  @modalOpen={{@open}}
  @closeModal={{this.closeModal}}
  @title={{t 'snippet-plugin.snippet-list.modal.title'}}
  @size='large'
  @padding='none'
  as |modal|
>
  <modal.Body>
    <AuMainContainer class='snippet-modal--main-container' as |mc|>
      <mc.content @scroll={{true}}>
        <div class='snippet-modal--list-container'>
          {{#if this.error}}
            <Common::Search::AlertLoadError
              @error={{this.error}}
              class='au-u-margin-top-none'
            />
          {{else}}
            <SnippetPlugin::SnippetList::SnippetListView
              @snippetLists={{this.snippetListResource.value}}
              @assignedSnippetListsIds={{this.assignedSnippetListsIds}}
              @listNameFilter={{this.nameFilterText}}
              @sort={{this.sort}}
              @onChange={{this.onChange}}
              @isLoading={{this.snippetListResource.isRunning}}
            />
          {{/if}}
        </div>
        <AuToolbar
          @border='top'
          @size='large'
          @nowrap={{true}}
          @reverse={{true}}
        >
          <AuButtonGroup>
            <AuButton @skin='secondary' {{on 'click' this.closeModal}}>
              {{t 'snippet-plugin.snippet-list.modal.button.cancel'}}
            </AuButton>
            <AuButton
              @skin='primary'
              {{on 'click' this.saveAndClose}}
              @disabled={{@onSaveSnippetLists.isRunning}}
            >
              {{t 'snippet-plugin.snippet-list.modal.button.update'}}
            </AuButton>
          </AuButtonGroup>
        </AuToolbar>
      </mc.content>
    </AuMainContainer>
  </modal.Body>
</AuModal>