{{! @glint-nocheck: not typesafe yet }}
<div class='say-snippet-lists-table'>
  {{#let
    (t 'snippet-plugin.snippet-list.modal.table.list')
    (t 'snippet-plugin.snippet-list.modal.table.created')
    (t 'snippet-plugin.snippet-list.modal.table.select')
    (t 'snippet-plugin.snippet-list.modal.subtitle')
    (t 'snippet-plugin.snippet-list.modal.search.label')
    (t 'snippet-plugin.snippet-list.modal.table.imported-resources')
    as |list created select subtitle search imported|
  }}
    <AuDataTable
      @content={{this.snippetLists}}
      @isLoading={{@isLoading}}
      @noDataMessage={{t 'common.search.no-results'}}
      @sort={{@sort}}
      @onClickRow={{this.onClickRow}}
      as |t|
    >
      <t.menu as |menu|>
        <menu.general>
          <AuToolbar class='au-o-box' as |Group|>
            <Group />
            <Group class='au-c-toolbar__group--center'>
              <AuDataTableTextSearch
                @wait={{500}}
                @filter={{@listNameFilter}}
                @placeholder={{search}}
              />
            </Group>
          </AuToolbar>
        </menu.general>
      </t.menu>
      <t.content as |c|>
        <c.header>
          <th class='snippet-list-table-select-column'>{{select}}</th>
          <AuDataTableThSortable
            @field='label'
            @label={{list}}
            @currentSorting={{@sort}}
            @class='data-table__header-title'
          />
          <th>{{imported}}</th>
          <AuDataTableThSortable
            @field='createdOn'
            @label={{created}}
            @currentSorting={{@sort}}
            @class='data-table__header-title snippet-list-table-created-column'
          />
        </c.header>
        <c.body as |row|>
          <td class='snippet-list-table-select-column'>
            <AuCheckbox
              id={{row.label}}
              @onChange={{fn this.onChange row.id}}
              @checked={{in-array @assignedSnippetListsIds row.id}}
            />
          </td>
          <td>{{row.label}}</td>
          <td>{{row.importedResources}}</td>
          <td class='snippet-list-table-created-column'>{{row.createdOn}}</td>
        </c.body>
      </t.content>
    </AuDataTable>
  {{/let}}
</div>