{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-bare-strings  }}
{{page-title 'LBLOD Plugins - Besluit'}}
<div {{did-insert this.setPrefixes}}>
  <DummyContainer>
    <:header>
      <DebugTools @controller={{this.controller}} />
    </:header>
    <:content>
      <EditorContainer
        @editorOptions={{hash
          showRdfa=true
          editRdfa=this.editableNodes
          showRdfaHighlight=true
          showRdfaHover=true
          showPaper=true
          showToolbarBottom=null
        }}
      >
        <:top>
          {{#if this.controller}}
            <ResponsiveToolbar>
              <:main as |Tb|>
                <Tb.Group>
                  <Toolbar::History @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <Toolbar::Styling @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <ConfidentialityPlugin::Toolbar
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Group>
                  <Toolbar::List @controller={{this.controller}} />
                  <Plugins::Indentation::IndentationMenu
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Link::LinkMenu @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Table::TableMenu @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Heading::HeadingMenu
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Formatting::FormattingToggle
                    @controller={{this.controller}}
                  />
                  <BesluitTypePlugin::ToolbarDropdown
                    @controller={{this.controller}}
                    @options={{this.config.besluitType}}
                  />
                  <BesluitTopicPlugin::BesluitTopicToolbarDropdown
                    @controller={{this.controller}}
                    @options={{this.config.besluitTopic}}
                  />
                  <div class='say-rdfa-toggle'>
                    <AuToggleSwitch
                      @checked={{this.editableNodes}}
                      @onChange={{this.toggleEditableNodes}}
                    >
                      Toggle editable nodes
                    </AuToggleSwitch>
                  </div>
                </Tb.Group>
                <Plugins::HtmlEditor::Menu @controller={{this.controller}} />
              </:main>
            </ResponsiveToolbar>
          {{/if}}
        </:top>
        <:default>
          <Editor
            @plugins={{this.plugins}}
            @schema={{this.schema}}
            @nodeViews={{this.nodeViews}}
            @rdfaEditorInit={{this.rdfaEditorInit}}
          />
        </:default>
        <:aside>
          {{#if this.controller}}
            <Sidebar as |Sidebar|>
              <Sidebar.Collapsible @title='Insert'>
                <AuButton
                  @skin='link'
                  @disabled={{not this.canInsertDescription}}
                  {{on 'click' this.insertDescription}}
                >
                  description
                </AuButton>
                <AuButton
                  @skin='link'
                  @disabled={{not this.canInsertTitle}}
                  {{on 'click' this.insertTitle}}
                >title
                </AuButton>
                <AuButton
                  @skin='link'
                  @disabled={{not this.canInsertMotivation}}
                  {{on 'click' this.insertMotivation}}
                >motivation
                </AuButton>
                <AuButton
                  @skin='link'
                  @disabled={{not this.canInsertContainer}}
                  {{on 'click' this.insertArticleContainer}}
                >articles
                </AuButton>
                <ArticleStructurePlugin::ArticleStructureCard
                  @controller={{this.controller}}
                  @options={{this.config.structures}}
                />
                <CitationPlugin::CitationInsert
                  @controller={{this.controller}}
                  @config={{this.config.citation}}
                />
                <RoadsignRegulationPlugin::RoadsignRegulationCard
                  @controller={{this.controller}}
                  @options={{this.config.roadsignRegulation}}
                />
                <StandardTemplatePlugin::Card
                  @controller={{this.controller}}
                  @templates={{this.standardTemplates}}
                />
                <VariablePlugin::Address::Insert
                  @controller={{this.controller}}
                />
                <VariablePlugin::Date::Insert @controller={{this.controller}} />
                <WorshipPlugin::Insert
                  @controller={{this.controller}}
                  @config={{this.config.worship}}
                />
                <LmbPlugin::Insert
                  @controller={{this.controller}}
                  @config={{this.config.lmb}}
                />
              </Sidebar.Collapsible>
              <ArticleStructurePlugin::StructureCard
                @controller={{this.controller}}
                @options={{this.config.structures}}
              />
              <DecisionPlugin::DecisionPluginCard
                @controller={{this.controller}}
              />
              <CitationPlugin::CitationCard
                @controller={{this.controller}}
                @plugin={{this.citationPlugin}}
                @config={{this.config.citation}}
              />
              <ImportSnippetPlugin::Card @controller={{this.controller}} />
              <VariablePlugin::Address::Edit
                @controller={{this.controller}}
                @defaultMunicipality='Gent'
              />
              <VariablePlugin::Codelist::Edit
                @controller={{this.controller}}
                @options={{this.codelistOptions}}
              />
              <VariablePlugin::Date::Edit
                @controller={{this.controller}}
                @options={{this.dateOptions}}
              />
              <VariablePlugin::Location::Edit
                @controller={{this.controller}}
                @options={{this.locationOptions}}
              />
              {{#if (and this.activeNode this.editableNodes)}}
                <this.RdfaEditor
                  @node={{this.activeNode}}
                  @controller={{this.controller}}
                />
                <this.DebugInfo @node={{this.activeNode}} />
                <this.AttributeEditor
                  @node={{this.activeNode}}
                  @controller={{this.controller}}
                />
              {{/if}}
            </Sidebar>
          {{/if}}
        </:aside>
      </EditorContainer>
    </:content>
  </DummyContainer>
</div>