{{!-- template-lint-disable no-bare-strings  --}}
{{page-title "Dummy - Besluit"}}
<div {{did-insert this.setPrefixes}}>
  <DummyContainer>
    <:header>
      <DebugTools @controller={{this.controller}}/>
    </:header>
    <:content>
      <EditorContainer
        @editorOptions={{hash
        showRdfa='true'
        showRdfaHighlight='true'
        showRdfaHover='true'
        showPaper='true'
        showToolbarBottom=null
      }}
        @showRdfaBlocks={{this.controller.showRdfaBlocks}}
      >
        <:top>
          {{#if this.controller}}
            <Toolbar as |Tb|>
              <Tb.Group>
                <Toolbar::History @controller={{this.controller}}/>
              </Tb.Group>
              <Tb.Group>
                <Toolbar::Styling @controller={{this.controller}}/>
              </Tb.Group>
              <Tb.Group>
                <Toolbar::List @controller={{this.controller}}/>
                <Plugins::Indentation::IndentationMenu @controller={{this.controller}}/>
              </Tb.Group>
              <Tb.Group>
                <Plugins::Link::LinkMenu @controller={{this.controller}}/>
              </Tb.Group>
              <Tb.Group>
                <Plugins::Table::TableMenu @controller={{this.controller}}/>
              </Tb.Group>
              <Tb.Group>
                <Plugins::Heading::HeadingMenu @controller={{this.controller}}/>
              </Tb.Group>
              <Tb.Spacer />
              <Tb.Group>
                <Plugins::Formatting::FormattingToggle @controller={{this.controller}}/>
                <BesluitTypePlugin::ToolbarDropdown @controller={{this.controller}}/>
                <Plugins::RdfaBlockRender::RdfaBlocksToggle @controller={{this.controller}}/>
              </Tb.Group>
            </Toolbar>
          {{/if}}
        </:top>
        <:default>
          <Editor
            @plugins={{this.plugins}}
            @schema={{this.schema}}
            @nodeViews={{this.nodeViews}}
            @rdfaEditorInit={{this.rdfaEditorInit}}/>
        </:default>
        <:aside>
          {{#if this.controller}}
            <Sidebar as |Sidebar|>
              <Sidebar.Collapsible @title='Insert'>
                <AuButton @skin="link"
                          @disabled={{not this.canInsertDescription}}
                  {{on "click"this.insertDescription}}>
                  description
                </AuButton>
                <AuButton @skin="link"
                          @disabled={{not this.canInsertTitle}}
                  {{on "click" this.insertTitle}}>title
                </AuButton>
                <AuButton @skin="link"
                          @disabled={{not this.canInsertMotivation}}
                  {{on "click" this.insertMotivation}}>motivation
                </AuButton>
                <AuButton @skin="link"
                          @disabled={{not this.canInsertContainer}}
                  {{on "click" this.insertArticleContainer}}>articles
                </AuButton>
                <ArticleStructurePlugin::ArticleStructureCard
                  @controller={{this.controller}}
                  @options={{this.config.structures}}
                />
                <CitationPlugin::CitationInsert
                  @controller={{this.controller}}

                  @config={{this.config.citation}}
                />
                <RdfaDatePlugin::Insert
                  @controller={{this.controller}}
                  @options={{this.config.date}}
                />
                <RoadsignRegulationPlugin::RoadsignRegulationCard @controller={{this.controller}}/>
                <StandardTemplatePlugin::Card @controller={{this.controller}}/>
              </Sidebar.Collapsible>
              <ArticleStructurePlugin::StructureCard
                @controller={{this.controller}}
                @options={{this.config.structures}}
              />
              <DecisionPlugin::DecisionPluginCard @controller={{this.controller}}/>
              <CitationPlugin::CitationCard
                @controller={{this.controller}}
                @plugin={{this.citationPlugin}}
              />
              <ImportSnippetPlugin::Card @controller={{this.controller}}/>
              <RdfaDatePlugin::Card
                @controller={{this.controller}}
                @options={{this.config.date}}/>
              <VariablePlugin::TemplateVariableCard @controller={{this.controller}}/>
              <ValidationPlugin::ValidationCard @title={{t "dummy.validation-card.title"}}
                                                @controller={{this.controller}} @report={{this.report}}/>
            </Sidebar>
          {{/if}}
        </:aside>
      </EditorContainer>
    </:content>
  </DummyContainer>
</div>