{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-bare-strings  }}
{{page-title 'LBLOD Plugins - Regulatory Statements'}}
<div {{did-insert this.setPrefixes}}>
  <DummyContainer>
    <:header>
      <DebugTools @controller={{this.controller}} />
    </:header>
    <:content>
      <EditorContainer
        @editorOptions={{hash
          showPaper=true
          showToolbarBottom=null
          showSidebarLeft=true
          showSidebarRight=true
        }}
      >
        <:top>
          {{#if this.controller}}
            <ResponsiveToolbar>
              <:main as |Tb|>
                <Tb.Group>
                  <Toolbar::History @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <Toolbar::Styling @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <ConfidentialityPlugin::Toolbar
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Group>
                  <Toolbar::List @controller={{this.controller}} />
                  <Plugins::Indentation::IndentationMenu
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Link::LinkMenu @controller={{this.controller}} />
                  <GenericRdfaVariable::InsertMenu
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Table::TableMenu @controller={{this.controller}} />
                </Tb.Group>
                <Tb.Group>
                  <Plugins::Heading::HeadingMenu
                    @controller={{this.controller}}
                  />
                </Tb.Group>
                <Tb.Spacer />
                <Tb.Group>
                  <Plugins::Formatting::FormattingToggle
                    @controller={{this.controller}}
                  />
                  <TableOfContentsPlugin::ToolbarButton
                    @controller={{this.controller}}
                  />
                  <div class='say-rdfa-toggle'>
                    <AuToggleSwitch
                      @checked={{this.editableNodes}}
                      @onChange={{this.toggleEditableNodes}}
                    >
                      Toggle editable nodes
                    </AuToggleSwitch>
                  </div>
                </Tb.Group>
                <Plugins::HtmlEditor::Menu @controller={{this.controller}} />
              </:main>
            </ResponsiveToolbar>
          {{/if}}
        </:top>
        <:default>
          <Editor
            @plugins={{this.plugins}}
            @schema={{this.schema}}
            @nodeViews={{this.nodeViews}}
            @rdfaEditorInit={{this.rdfaEditorInit}}
          />
        </:default>
        <:aside>
          {{#if this.controller}}
            <Sidebar as |Sidebar|>
              <Sidebar.Collapsible @title='Insert'>
                <DocumentTitlePlugin::InsertTitleCard
                  @controller={{this.controller}}
                />
                <ArticleStructurePlugin::ArticleStructureCard
                  @controller={{this.controller}}
                  @options={{this.config.structure}}
                />
                {{#if this.activeNode}}
                  <this.SnippetInsert
                    @controller={{this.controller}}
                    @config={{this.config.snippet}}
                    @node={{this.activeNode}}
                  />
                {{/if}}
                <TemplateCommentsPlugin::Insert
                  @controller={{this.controller}}
                />
                <VariablePlugin::Address::Insert
                  @controller={{this.controller}}
                  @templateMode={{true}}
                />
                <WorshipPlugin::Insert
                  @controller={{this.controller}}
                  @config={{this.config.worship}}
                />
                <SnippetPlugin::SnippetInsertPlaceholder
                  @controller={{this.controller}}
                  @config={{this.config.snippet}}
                />
                <LocationPlugin::Insert
                  @controller={{this.controller}}
                  @config={{this.config.location}}
                />
              </Sidebar.Collapsible>
              <div class='au-u-flex au-u-flex--column au-u-flex--spaced-tiny'>
                <VariablePlugin::InsertVariableCard
                  @controller={{this.controller}}
                  @variableTypes={{this.variableTypes}}
                  @templateMode={{true}}
                />
                <this.StructureControlCard @controller={{this.controller}} />
                <VariablePlugin::Address::Edit
                  @controller={{this.controller}}
                  @defaultMunicipality='Gent'
                />
                <VariablePlugin::Codelist::Edit
                  @controller={{this.controller}}
                  @options={{this.codelistOptions}}
                />
                <VariablePlugin::Date::Edit
                  @controller={{this.controller}}
                  @options={{this.dateOptions}}
                />
                <VariablePlugin::Location::Edit
                  @controller={{this.controller}}
                  @options={{this.locationOptions}}
                />
                <VariablePlugin::Person::Edit
                  @controller={{this.controller}}
                  @config={{this.config.lmb}}
                />
                <VariablePlugin::Autofilled::Edit
                  @controller={{this.controller}}
                />
                <TemplateCommentsPlugin::EditCard
                  @controller={{this.controller}}
                />
                <AuHr />
                {{#if this.activeNode}}
                  <this.SnippetListSelect
                    @node={{this.activeNode}}
                    @controller={{this.controller}}
                    @config={{this.config.snippet}}
                  />
                {{/if}}
                {{#if this.editableNodes}}
                  <this.VisualiserCard
                    @controller={{this.controller}}
                    @config={{this.rdfa.visualizerConfig}}
                  />
                  <this.NodeControlsCard
                    @node={{this.activeNode}}
                    @controller={{this.controller}}
                  />
                  {{#if this.activeNode}}
                    <this.RelationshipEditorCard
                      @node={{this.activeNode}}
                      @controller={{this.controller}}
                      @optionGeneratorConfig={{this.optionGeneratorConfig}}
                    />
                    <this.DocImportedResourceEditorCard
                      @controller={{this.controller}}
                      @optionGeneratorConfig={{this.optionGeneratorConfig}}
                    />
                    <this.ImportedResourceLinkerCard
                      @node={{this.activeNode}}
                      @controller={{this.controller}}
                    />
                    <this.ExternalTripleEditorCard
                      @node={{this.activeNode}}
                      @controller={{this.controller}}
                    />
                    <this.DebugInfo @node={{this.activeNode}} />
                    <this.AttributeEditor
                      @node={{this.activeNode}}
                      @controller={{this.controller}}
                    />
                  {{/if}}
                {{/if}}
              </div>
            </Sidebar>
          {{/if}}
        </:aside>
      </EditorContainer>
    </:content>
  </DummyContainer>
</div>