{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-bare-strings  }}
{{page-title 'LBLOD Plugins - Regulatory Statements'}}
<div {{did-insert this.setPrefixes}}>
  <DummyContainer>
    <:header>
      <DebugTools @controller={{this.controller}} />
    </:header>
    <:content>
      <EditorContainer
        @controller={{this.controller}}
        @editorOptions={{hash
          showPaper=true
          showToolbarBottom=null
          showSidebarLeft=true
          showSidebarRight=true
        }}
      >
        <:toolbar as |container|>
          <ResponsiveToolbar>
            <:main as |Tb|>
              <Tb.Group>
                <Toolbar::History @controller={{container.controller}} />
              </Tb.Group>
              <Tb.Group>
                <Toolbar::Styling @controller={{container.controller}} />
              </Tb.Group>
              <Tb.Group>
                <ConfidentialityPlugin::Toolbar
                  @controller={{container.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Toolbar::List @controller={{container.controller}} />
                <Plugins::Indentation::IndentationMenu
                  @controller={{container.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Plugins::Link::LinkMenu @controller={{container.controller}} />
                <GenericRdfaVariable::InsertMenu
                  @controller={{container.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Plugins::Table::TableMenu
                  @controller={{container.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Plugins::Heading::HeadingMenu
                  @controller={{container.controller}}
                />
              </Tb.Group>
              <Tb.Spacer />
              <Tb.Group>
                <Plugins::Formatting::FormattingToggle
                  @controller={{container.controller}}
                />
                <TableOfContentsPlugin::ToolbarButton
                  @controller={{container.controller}}
                />
                <div class='say-rdfa-toggle'>
                  <AuToggleSwitch
                    @checked={{this.editableNodes}}
                    @onChange={{this.toggleEditableNodes}}
                  >
                    Toggle editable nodes
                  </AuToggleSwitch>
                </div>
              </Tb.Group>
              <Plugins::HtmlEditor::Menu @controller={{container.controller}} />
            </:main>
          </ResponsiveToolbar>
        </:toolbar>
        <:default>
          <Editor
            @plugins={{this.plugins}}
            @schema={{this.schema}}
            @nodeViews={{this.nodeViews}}
            @rdfaEditorInit={{this.rdfaEditorInit}}
          />
        </:default>
        <:sidebarRight as |container|>
          <Sidebar as |Sidebar|>
            <Sidebar.Collapsible @title='Insert'>
              <DocumentTitlePlugin::InsertTitleCard
                @controller={{container.controller}}
              />
              <ArticleStructurePlugin::ArticleStructureCard
                @controller={{container.controller}}
                @options={{this.config.structure}}
              />
              {{#if this.activeNode}}
                <this.SnippetInsert
                  @controller={{container.controller}}
                  @config={{this.config.snippet}}
                  @node={{this.activeNode}}
                />
              {{/if}}
              <TemplateCommentsPlugin::Insert
                @controller={{container.controller}}
              />
              <VariablePlugin::Address::Insert
                @controller={{container.controller}}
                @templateMode={{true}}
              />
              <WorshipPlugin::Insert
                @controller={{container.controller}}
                @config={{this.config.worship}}
              />
              <SnippetPlugin::SnippetInsertPlaceholder
                @controller={{container.controller}}
                @config={{this.config.snippet}}
              />
              <LocationPlugin::Insert
                @controller={{container.controller}}
                @config={{this.config.location}}
              />
              <VariablePlugin::Marcode::Insert
                @controller={{container.controller}}
                @config={{this.codelistOptions}}
              />
            </Sidebar.Collapsible>
            <div class='au-u-flex au-u-flex--column au-u-flex--spaced-tiny'>
              <VariablePlugin::InsertVariableCard
                @controller={{container.controller}}
                @variableTypes={{this.variableTypes}}
                @templateMode={{true}}
              />
              <this.StructureControlCard @controller={{container.controller}} />
              <VariablePlugin::Address::Edit
                @controller={{container.controller}}
                @defaultMunicipality='Gent'
              />
              <VariablePlugin::Codelist::Edit
                @controller={{container.controller}}
                @options={{this.codelistOptions}}
              />
              <VariablePlugin::Date::Edit
                @controller={{container.controller}}
                @options={{this.dateOptions}}
              />
              <VariablePlugin::Location::Edit
                @controller={{container.controller}}
                @options={{this.locationOptions}}
              />
              <VariablePlugin::Person::Edit
                @controller={{container.controller}}
                @config={{this.config.lmb}}
              />
              <VariablePlugin::Autofilled::Edit
                @controller={{container.controller}}
              />
              <TemplateCommentsPlugin::EditCard
                @controller={{container.controller}}
              />
              <AuHr />
              {{#if this.activeNode}}
                <this.SnippetListSelect
                  @node={{this.activeNode}}
                  @controller={{container.controller}}
                  @config={{this.config.snippet}}
                />
              {{/if}}
              {{#if this.editableNodes}}
                <this.VisualiserCard
                  @controller={{container.controller}}
                  @config={{this.visualizerConfig}}
                />
                <this.NodeControlsCard
                  @node={{this.activeNode}}
                  @controller={{container.controller}}
                />
                {{#if this.activeNode}}
                  <this.RelationshipEditorCard
                    @node={{this.activeNode}}
                    @controller={{container.controller}}
                    @optionGeneratorConfig={{this.optionGeneratorConfig}}
                  />
                  <this.DocImportedResourceEditorCard
                    @controller={{container.controller}}
                    @optionGeneratorConfig={{this.optionGeneratorConfig}}
                  />
                  <this.ImportedResourceLinkerCard
                    @node={{this.activeNode}}
                    @controller={{container.controller}}
                  />
                  <this.ExternalTripleEditorCard
                    @node={{this.activeNode}}
                    @controller={{container.controller}}
                  />
                  <this.DebugInfo @node={{this.activeNode}} />
                  <this.AttributeEditor
                    @node={{this.activeNode}}
                    @controller={{container.controller}}
                  />
                {{/if}}
              {{/if}}
            </div>
          </Sidebar>
        </:sidebarRight>
      </EditorContainer>
    </:content>
  </DummyContainer>
</div>