{{! @glint-nocheck: not typesafe yet }}
{{! template-lint-disable no-bare-strings  }}
{{page-title 'LBLOD Plugins - Regulatory Statements'}}
<div {{did-insert this.setPrefixes}}>
  <DummyContainer>
    <:header>
      <DebugTools @controller={{this.controller}} />
    </:header>
    <:content>
      <EditorContainer
        @editorOptions={{hash
          showRdfa=true
          editRdfa=this.editableNodes
          showRdfaHighlight=true
          showRdfaHover=true
          showPaper=true
          showToolbarBottom=null
        }}
      >
        <:top>
          {{#if this.controller}}
            <Toolbar as |Tb|>
              <Tb.Group>
                <Toolbar::History @controller={{this.controller}} />
              </Tb.Group>
              <Tb.Group>
                <Toolbar::Styling @controller={{this.controller}} />
              </Tb.Group>
              <Tb.Group>
                <ConfidentialityPlugin::Toolbar
                  @controller={{this.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Toolbar::List @controller={{this.controller}} />
                <Plugins::Indentation::IndentationMenu
                  @controller={{this.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Plugins::Link::LinkMenu @controller={{this.controller}} />
                <GenericRdfaVariable::InsertMenu
                  @controller={{this.controller}}
                />
              </Tb.Group>
              <Tb.Group>
                <Plugins::Table::TableMenu @controller={{this.controller}} />
              </Tb.Group>
              <Tb.Group>
                <Plugins::Heading::HeadingMenu
                  @controller={{this.controller}}
                />
              </Tb.Group>
              <Tb.Spacer />
              <Tb.Group>
                <Plugins::Formatting::FormattingToggle
                  @controller={{this.controller}}
                />
                <TableOfContentsPlugin::ToolbarButton
                  @controller={{this.controller}}
                />
                <div class='say-rdfa-toggle'>
                  <AuToggleSwitch
                    @checked={{this.editableNodes}}
                    @onChange={{this.toggleEditableNodes}}
                  >
                    Toggle editable nodes
                  </AuToggleSwitch>
                </div>
              </Tb.Group>
            </Toolbar>
          {{/if}}
        </:top>
        <:default>
          <Editor
            @plugins={{this.plugins}}
            @schema={{this.schema}}
            @nodeViews={{this.nodeViews}}
            @rdfaEditorInit={{this.rdfaEditorInit}}
          />
        </:default>
        <:aside>
          {{#if this.controller}}
            <Sidebar as |Sidebar|>
              <Sidebar.Collapsible @title='Insert'>
                <DocumentTitlePlugin::InsertTitleCard
                  @controller={{this.controller}}
                />
                <ArticleStructurePlugin::ArticleStructureCard
                  @controller={{this.controller}}
                  @options={{this.config.structures}}
                />
                {{#if this.activeNode}}
                  <this.SnippetInsert
                    @controller={{this.controller}}
                    @config={{this.config.snippet}}
                    @node={{this.activeNode}}
                  />
                {{/if}}
                <TemplateCommentsPlugin::Insert
                  @controller={{this.controller}}
                />
                <VariablePlugin::Address::Insert
                  @controller={{this.controller}}
                />
                <WorshipPlugin::Insert
                  @controller={{this.controller}}
                  @config={{this.config.worship}}
                />
              </Sidebar.Collapsible>
              <VariablePlugin::InsertVariableCard
                @controller={{this.controller}}
                @variableTypes={{this.variableTypes}}
              />
              <ArticleStructurePlugin::StructureCard
                @controller={{this.controller}}
                @options={{this.config.structures}}
              />
              <VariablePlugin::Address::Edit
                @controller={{this.controller}}
                @defaultMunicipality='Gent'
              />
              <VariablePlugin::Codelist::Edit
                @controller={{this.controller}}
                @options={{this.codelistOptions}}
              />
              <VariablePlugin::Date::Edit
                @controller={{this.controller}}
                @options={{this.dateOptions}}
              />
              <VariablePlugin::Location::Edit
                @controller={{this.controller}}
                @options={{this.locationOptions}}
              />
              <TemplateCommentsPlugin::EditCard
                @controller={{this.controller}}
              />
              <AuHr />
              {{#if this.activeNode}}
                <this.SnippetListSelect
                  @node={{this.activeNode}}
                  @controller={{this.controller}}
                  @config={{this.config.snippet}}
                />
                {{#if this.editableNodes}}
                  <this.RdfaEditor
                    @node={{this.activeNode}}
                    @controller={{this.controller}}
                  />
                  <this.DebugInfo @node={{this.activeNode}} />
                  <this.AttributeEditor
                    @node={{this.activeNode}}
                    @controller={{this.controller}}
                  />
                {{/if}}
              {{/if}}
            </Sidebar>
          {{/if}}
        </:aside>
      </EditorContainer>
    </:content>
  </DummyContainer>
</div>