<div {{did-update this.onSelectionChanged @controller.state}}>
  {{#if this.showCard}}
    <AuCard @shadow={{true}} @size="flush" as |c|>
      <c.header class="au-u-hidden-visually">
        <AuHeading @level="3" @skin="6">{{t "date-plugin.card.title"}}</AuHeading>
      </c.header>
      <c.content class="au-o-box au-o-box--small">
        <div class="au-o-flow au-o-flow--small">
          <RdfaDatePlugin::DateTimePicker
            @onChange={{this.changeDate}}
            @value={{this.dateValue}}
            @onlyDate={{this.onlyDate}}/>
          {{#each @widgetArgs.options.formats as |format|}}
            <AuFormRow>
              <AuControlRadio
                @label={{format.label}}
                @identifier={{format.key}}
                @name="dateFormat"
                @value={{format.key}}
                checked={{eq this.dateFormat format.key}}
                @onChange={{this.setDateFormat}}
              />
            </AuFormRow>
          {{/each}}
          <AuFormRow>
            <AuControlRadio
              @label="Custom Date"
              @identifier="custom"
              @name="dateFormat"
              @value="custom"
              checked={{eq this.dateFormat "custom"}}
              @onChange={{this.setDateFormat}}
            />
          </AuFormRow>
          {{#if (eq this.dateFormat "custom")}}
            <AuFormRow @alignment="post">
              <AuButton @skin="secondary" @icon="info-circle"
                {{on 'click' this.toggleHelpModal}}>
              </AuButton>
              <AuInput
                @error={{this.customDateFormatError}}
                @value={{this.customDateFormat}}
                {{on "input" this.setCustomDateFormat}}
              />
            </AuFormRow>
            {{#if this.humanError}}
              <AuPill @skin="error" @icon="cross">{{this.humanError}}</AuPill>
            {{/if}}
          {{/if}}
          {{#unless this.dateInDocument}}
            <AuFormRow class="au-u-margin-top">
              <AuButton {{on 'click' this.modifyDate}} @disabled={{this.customDateFormatError}}>
                {{if this.onlyDate (t "date-plugin.card.insert-date") (t "date-plugin.card.insert-datetime")}}
              </AuButton>
            </AuFormRow>
          {{/unless}}
        </div>
      </c.content>
    </AuCard>
  {{/if}}
</div>
<RdfaDatePlugin::HelpModal @modalOpen={{this.helpModalOpen}} @closeModal={{this.toggleHelpModal}} />