<div {{did-update this.onSelectionChanged @controller.state}}>
{{#if this.showCard}}
  <AuCard @shadow={{true}} @size="flush" as |c|>
    <c.header class="au-u-hidden-visually">
      <AuHeading @level="3" @skin="6">{{t "date-plugin.card.title"}}</AuHeading>
    </c.header>
    <c.content class="au-o-box au-o-box--small">
      <div class="au-o-flow au-o-flow--small">
        <RdfaDatePlugin::DateTimePicker
          @onChange={{this.changeDate}}
          @value={{this.dateValue}}
          @onlyDate={{this.onlyDate}}/>
        {{#each @widgetArgs.options.formats as |format|}}
        <AuFormRow>
          <AuControlRadio
            @label={{format.label}}
            @identifier={{format.key}}
            @name="dateFormat"
            @value={{format.key}}
            checked={{eq this.dateFormat format.key}}
            @onChange={{this.setDateFormat}}
          />
        </AuFormRow>
        {{/each}}
        <AuFormRow>
          <AuControlRadio
            @label="Custom Date"
            @identifier="custom"
            @name="dateFormat"
            @value="custom"
            checked={{eq this.dateFormat "custom"}}
            @onChange={{this.setDateFormat}}
          />
          {{#if (eq this.dateFormat "custom")}}
            <AuInput
              @value={{this.customDateFormat}}
              {{on "input" this.setCustomDateFormat}}
            />
          {{/if}}
        </AuFormRow>
        <AuButton @icon="info-circle" {{on 'click' this.toggleHelpModal}}></AuButton>
        {{#unless this.dateInDocument}}
          <AuFormRow class="au-u-margin-top">
            <AuButton {{on 'click' this.modifyDate}}>
              {{if this.onlyDate (t "date-plugin.card.insert-date") (t "date-plugin.card.insert-datetime")}}
            </AuButton>
          </AuFormRow>
        {{/unless}}
      </div>
    </c.content>
  </AuCard>
{{/if}}
</div>
<AuModal
    @title="Rdfa-Date Help"
    @closeModal={{this.toggleHelpModal}}
    @modalOpen={{this.helpModalOpen}}
    @size='default'
    class="au-c-modal--overflow"
    as |Modal|>
    <Modal.Body>
      <div style="overflow: auto; max-height: 400px">
        <p>{{t 'date-plugin.help.first-line'}}</p>
        {{t 'date-plugin.help.examples'}}
        <AuTable>
          <:header>
            <tr>
              <th>{{t 'date-plugin.help.name'}}</th>
              <th>{{t 'date-plugin.help.symbol'}}</th>
              <th>{{t 'date-plugin.help.result'}}</th>
            </tr>
          </:header>
          <:body>
            <tr>
              <td>{{t 'date-plugin.help.short-weekday-title'}}</td>
              <td>E</td>
              <td>{{t 'date-plugin.help.short-weekday-content'}}</td>
            </tr>
            <tr>
              <td>{{t 'date-plugin.help.long-weekday-title'}}</td>
              <td>EEEE</td>
              <td>{{t 'date-plugin.help.long-weekday-content'}}</td>
            </tr>
            <tr>
              <td>{{t 'date-plugin.help.month-day'}}</td>
              <td>dd</td>
              <td>01, 02, ..., 31</td>
            </tr>
            <tr>
              <td>{{t 'date-plugin.help.short-month'}}</td>
              <td>MM</td>
              <td>01, 02, ..., 12</td>
            </tr>
            <tr>
              <td>{{t 'date-plugin.help.long-month-title'}}</td>
              <td>MMMM</td>
              <td>{{t 'date-plugin.help.long-month-content'}}</td>
            </tr>
            <tr>
              <td>{{t 'date-plugin.help.long-year'}}</td>
              <td>dd</td>
              <td>01, 02, ..., 31</td>
            </tr>
          </:body>
        </AuTable>
        <p>{{t "date-plugin.help.detailed-info"}} <a href="https://date-fns.org/v2.29.3/docs/format">{{t "date-plugin.help.docs-link"}}</a></p>
        <p>{{t "date-plugin.help.date-examples"}}</p>
        <AuTable>
          <:header>
            <tr>
              <th>{{t "date-plugin.help.date-format"}}</th>
              <th>{{t "date-plugin.help.result"}}</th>
            </tr>
          </:header>
          <:body>
            <tr>
              <td>EEEE dd MMMM yyyy</td>
              <td>maandag 30 januari 2023</td>
            </tr>
            <tr>
              <td>dd/MM/yy</td>
              <td>30/01/23</td>
            </tr>
            <tr>
              <td>dd/M/yyyy</td>
              <td>30/1/2023</td>
            </tr>
            <tr>
              <td>dd/MM/yy hh:mm:ss</td>
              <td>30/01/23 12:00:00</td>
            </tr>
            <tr>
              <td>'Vandaag is' dd/MM/yy BBBB</td>
              <td>Vandaag is 30/01/23 's nachts</td>
            </tr>
            <tr>
              <td>PPPPpppp</td>
              <td>maandag 30 januari 2023 om 00:00:00 GMT+01:00</td>
            </tr>
          </:body>
        </AuTable>
      </div>
    </Modal.Body>
  </AuModal>
