<AuPill
  @icon={{this.PencilIcon}}
  @iconAlignment='right'
  class='variable atomic'
  {{on 'click' this.selectThisNode}}
>
  {{#if this.address}}
    {{this.address.formatted}}
  {{else}}
    <span class='mark-highlight-manual'>
      {{this.translations.placeholder}}
    </span>
  {{/if}}
  {{#if @node.attrs.label}}
    <span class='label'>
      ({{@node.attrs.label}})
    </span>
  {{/if}}
</AuPill>